.hamburger {
  width: 30px;
  height: 40px;
  position: relative;
  cursor: pointer;
  z-index: 1001;
}

.hamburger span {
  display: block;
  height: 2.5px;
  margin: 5px 0;
  background-color: #fff;
  transition: 0.4s;
}

/* Trasformazione in "X" */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


